@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-sans: "Be Vietnam Pro", system-ui, sans-serif;
  --font-serif: "Gabarito Variable", ui-serif, serif;

  --color-gradient: linear-gradient(135deg, #ec4899, #8b5cf6);
  --color-primary-solid: #ec4899;
  --color-neutral: #94a3b8;
  --color-white: #e2e8f0;
  --color-black: #0e141b;
}

@layer components {
  .text-gradient {
    background: var(--color-gradient);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .bg-gradient {
    background: var(--color-gradient);
  }
}

@keyframes marquee {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.001ms !important;
    animation-iteration-count: 1 !important;
  }
}

@keyframes slide-in {
  10% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
  }
}

.animate-slide-in {
  animation: slide-in 600ms ease both;
}

@layer base {
  body {
    font-family: var(--font-sans);
  }

  .font-serif {
    font-family: var(--font-serif);
  }
}
