---
import type { SiteConfig } from "../types/index.ts";

type Props = Pick<SiteConfig, "author" | "socialLinks">;

const { author, socialLinks } = Astro.props;
const currentYear = new Date().getFullYear();
---

<footer
  class="w-full border-t border-white/10 px-6 pt-8 pb-10 text-center"
>
  <ul class="mb-5 flex flex-wrap justify-center gap-x-5 text-xs">
    {
      socialLinks.map(({ text, href }) => (
        <li>
          <a
            href={href}
            target="_blank"
            class="inline-block px-4 py-3 text-neutral hover:text-white transition-colors"
          >
            {text}
          </a>
        </li>
      ))
    }
  </ul>
  <p class="text-xs text-neutral/60">
    {author} &copy; {currentYear}
  </p>
</footer>
