---
import type { HeroProps } from "../types/index.ts";
type Props = HeroProps;

const { name, specialty, summary } = Astro.props;
---

<section class="py-24 md:py-32" id="#hero">
  <h1
    class="mb-1.5 font-serif text-7xl font-bold tracking-tightest text-white sm:text-8xl md:mb-0 md:text-9xl"
  >
    {name}
  </h1>
  <p
    class="mb-9 font-serif text-3xl leading-[40px] font-bold tracking-tighter text-primary sm:text-4xl md:text-5xl"
  >
    {specialty}
  </p>
  <p class="mb-16 text-base font-normal text-neutral md:text-lg">
    {summary}
  </p>

  <a
    class="inline-block rounded-full bg-primary px-8 py-5 text-sm leading-5 font-medium text-[#fff] hover:bg-primary/90 transition-colors"
    href="https://calendly.com/stephen-krezzo/connect-with-stephen-30-mins"
    target="_blank"
    rel="noopener noreferrer"
  >
    Schedule a meeting with me
  </a>
</section>
